footer{
    display: grid;
    justify-content: flex-end;
    height: 50px;
    width: 100vw;
    background-color: map-get($colores, backgroundcolorFooter);
    section{
        display: flex;
        justify-content: center;
        height: 60px;
        width: 300px;

        div{
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
            margin-left: 20px;
            height: 50px;

            a img{
                display: flex;
                height: 50px;
                width: 50px;
            }
        }
        
    }

}
