.img_index{
    height: 100vh;
    width: 100vw;
    display: grid;
    background: url(../images/diy-tools.jpg);
    background-position: center;
    background-size: cover;
}
.index_H1{
    display: flex;
    margin: auto;
    color: rgb(244, 248, 10);
    font-size: 60px;
    font-family: 'Cormorant', serif;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Quattrocento', serif;
}



@media (max-width: 768px){



#index_section{
        height: 50vh;
        width: 100vw;
        display: flex;
        
        
        background: url(../images/diy-tools.jpg);
        background-position: center;
        background-size: cover;
    }
    #index_H1{
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        color: rgb(10, 10, 10);
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

}