
.construccionEnSeco{
    @extend %servicios;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.500),rgb(0, 0, 0, 0.500)),url(../images/constenseco.jpg);
    background-size: cover;  
    background-position: center;
}
.albañileria{
    @extend %servicios;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.500),rgb(0, 0, 0, 0.500)),url(../images/albañileria.jpg);
    background-size: cover;
    background-position: center;
}

.plomeria{
    @extend %servicios;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.500),rgb(0, 0, 0, 0.500)),url(../images/plomeria.jpg);
    background-size: cover;
    background-position: center;
}

.gas{ 
    @extend %servicios;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.500),rgb(0, 0, 0, 0.500)),url(../images/gas.jpg);
    background-size: cover;
    background-position: center;
}

.electricista{
    @extend %servicios;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.500),rgb(0, 0, 0, 0.500)),url(../images/electricidad.jpg);
    background-size: cover;
    background-position: center;
}

.carpinteria{
    @extend %servicios;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.500),rgb(0, 0, 0, 0.500)),url(../images/carpinteria.jpg);
    background-size: cover;
    background-position: center;
}

.h1_servicios{
    color: rgb(248, 252, 5);
    font-size: 60px;
}




